Serilog.Sinks.Aliyun/bin/Release/Serilog.Sinks.Aliyun_net5.1.0.0.nupkg
Serilog.Sinks.Aliyun/bin/Release/Serilog.Sinks.Aliyun_NetCore5.1.0.0.nupkg
Serilog.Sinks.Aliyun/bin/Release/Serilog.Sinks.Aliyun.1.0.0.nupkg
Serilog.Sinks.Aliyun/bin/Release/Serilog.Sinks.Aliyun.Core.1.0.0.nupkg
Serilog.Sinks.Aliyun/bin/Release/Serilog.Sinks.Aliyun.Core.1.0.1.nupkg
Serilog.Sinks.Aliyun/bin/Release/net5.0/Serilog.Sinks.Aliyun.deps.json
Serilog.Sinks.Aliyun/bin/Release/net5.0/Serilog.Sinks.Aliyun.dll
Serilog.Sinks.Aliyun/bin/Release/net5.0/Serilog.Sinks.Aliyun.pdb
Serilog.Sinks.Aliyun/bin/Release/net5.0/Serilog.Sinks.Aliyun.xml
Serilog.Sinks.Aliyun/bin/Release/net5.0/SLSSDK.dll
Serilog.Sinks.Aliyun/obj/project.assets.json
Serilog.Sinks.Aliyun/obj/project.nuget.cache
Serilog.Sinks.Aliyun/obj/Serilog.Sinks.Aliyun.csproj.nuget.dgspec.json
Serilog.Sinks.Aliyun/obj/Serilog.Sinks.Aliyun.csproj.nuget.g.props
Serilog.Sinks.Aliyun/obj/Serilog.Sinks.Aliyun.csproj.nuget.g.targets
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun_net5.1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun_NetCore5.1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun-SLS.1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun.1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun.Core.1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun.Core.1.0.1.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun(net5.0).1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun\[net5.0].1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/Serilog.Sinks.Aliyun\[net5].1.0.0.nuspec
Serilog.Sinks.Aliyun/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog..8E1E2702.Up2Date
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.AssemblyInfo.cs
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.AssemblyInfoInputs.cache
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.assets.cache
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.csproj.AssemblyReference.cache
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.csproj.CoreCompileInputs.cache
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.csproj.FileListAbsolute.txt
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.dll
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.GeneratedMSBuildEditorConfig.editorconfig
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.pdb
Serilog.Sinks.Aliyun/obj/Release/net5.0/Serilog.Sinks.Aliyun.xml
Serilog.Sinks.Aliyun/obj/Release/net5.0/ref/Serilog.Sinks.Aliyun.dll
Serilog.Sinks.Aliyun/obj/Release/net5.0/refint/Serilog.Sinks.Aliyun.dll
